In [2]:
from pathlib import Path
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob import TextBlob
from datetime import datetime
import os
import sys
import csv
import re
import stanza
import pandas as pd
import plotly

# Basic paths
src_path = str(Path.cwd().parent / "pdfs")
sys.path.append(src_path)
src_path = str(Path.cwd().parent / "src")
sys.path.append(src_path)

project_path = Path().resolve().parent
csv_path = project_path / "speeches_csv"
sa_path = project_path / "Sentiment Analysis"

In [ ]:
# Adquire the speeches and clean for speeches (not interviews, to deal in the future)
df = pd.read_csv(csv_path / "all_speeches.txt")
OneSpeaker = df[ df["highest_speaker_count"] == 0 ]
OneSpeaker.reset_index(drop=True, inplace=True)
OneSpeaker


# Plot the sentiments across time
<a> https://plotly.com/python/line-charts/ </a>

In [3]:
df = pd.read_csv(sa_path / "results_sa_date.txt", infer_datetime_format = True, parse_dates = ["date"])
df

,title,date,stanza,textblob,vader
0,Prayer_Breakfast_2016,4 February 2016,0.099,0.178,1.000
1,Security_Team_Announcement,1 December 2008,0.140,0.162,0.998
2,Cairo_University,4 June 2009,-0.150,0.110,1.000
3,Umpqua_Community_College_Shootings,1 October 2015,-0.250,0.061,-0.998
4,White_House_Correspondent_Dinner_2013,27 April 2013,-0.012,0.145,1.000
...,...,...,...,...,...
283,Shimon_Peres_Memorial,30 September 2016,-0.083,0.164,1.000
284,ASEAN_Business_2015,21 November 2015,-0.050,0.164,1.000
285,Finance_Crisis_Fee,14 January 2010,-0.412,0.080,0.987
286,Oval_Office_Counter_Terrorism_Agenda,6 December 2015,-0.134,0.076,-1.000
287,Michigan_University_Commencement,01 May 2010,-0.152,0.121,1.000

In [8]:
type(df['date'])
df['date'].unique()

array(['4 February 2016', '1 December 2008', '4 June 2009',
       '1 October 2015', '27 April 2013', '30 June 2014', '23 May 2007',
       '23 April 2009', '18 December 2009', '16 November 2016',
       '27 January 2015', '20 November 2014', '8 January 2009',
       '20 July 2012', '27 July 2004', '29 December 2009',
       '15 April 2013', '28 December 2009', '8 September 2011',
       '10 February 2007', '16 January 2013', '10 November 2007',
       '29 April 2014', '20 January 2015', '28 June 2012',
       '17 April 2013', '1 July 2010', '21 October 2011',
       '25 September 2012', '17 January 2010', '26 February 2013',
       '22 June 2011', '14 December 2012', '30 April 2011',
       '5 August 2015', '24 September 2013', '20 February 2016',
       '10 May 2010', '12 January 2017', '21 March 2011',
       '24 February 2009', '2 April 2013', '21 March 2007', '2 June 2010',
       '24 January 2009', '18 November 2008', '30 August 2011',
       '9 January 20105', '10 April 2014', '25 January 2011',
       '27 February 2013', '13 November 2015', '18 June 2015',
       '12 February 2013', '22 September 2013', '19 November 2012',
       '12 September 2012', '5 December 2013', '31 August 2010',
       '30 November 2015', '6 January 2005', '24 May 2013',
       '4 January 2017', '2 October 2013', '31 March 2010',
       '16 January 2007', '14 May 2009', '10 December 2009',
       '10 February 2016', '19 September 2015', '29 October 2012',
       '27 January 2010', '2 August 2010', '13 April 2011',
       '15 June 2010', '30 March 2011', '20 July 2006', '27 January 2016',
       '15 May 2013', '16 March 2016', '14 July 2015', '29 May 2009',
       '21 May 2009', '16 June 2010', '11 November 2013',
       '11 September 2010', '17 January 2016', '23 September 2015',
       '24 June 2015', '14 July 2009', '3 August 2015', '15 June 2009',
       '30 October 2012', '23 April 2015', '24 September 2014',
       '16 April 2013', '25 September 2015', '25 September 2014',
       '11 February 2011', '25 April 2013', '29 April 2010',
       '23 June 2009', '3 December 2010', '27 July 2013', '24 July 2008',
       '3 June 2008', '22 May 2011', '1 May 2011', '4 June 2005',
       '9 May 2009', '9 November 2012', '20 January 2008', '28 May 2010',
       '7 February 2011', '20 September 2016', '13 July 2015',
       '28 July 2015', '11 September 2009', '18 March 2011',
       '3 April 2013', '15 November 2014', '17 January 2014',
       '16 October 2011', '5 January 2012', '7 January 2010',
       '23 June 2010', '31 January 2006', '17 December 2015',
       '14 April 2009', '2 August 2011', '25 May 2011', '21 July 2014',
       '28 January 2014', '29 March 2012', '28 May 2014',
       '3 February 2011', '21 October 2013', '22 May 2010', '2 June 2016',
       '12 December 2015', '2 December 2011', '13 February 2016',
       '24 June 2011', '13 January 2015', '14 June 2016', '28 March 2011',
       '15 December 2015', '26 March 2014', '7 November 2012',
       '20 May 2011', '12 June 2016', '15 April 2010', '16 July 2016',
       '3 January 2008', '25 February 2016', '29 August 2009',
       '23 February 2016', '14 August 2014', '23 February 2011',
       '3 December 2008', '26 February ', '5 January 2010',
       '24 January 2012', '6 December 2016', '10 November 2010',
       '21 December 2012', '23 November 2013', '18 April 2013',
       '4 February 2009', '29 February 2012', '9 June 2016',
       '21 September 2011', '5 April 2009', '21 July 2010',
       '5 February 2015', '24 November 2008', '11 June 2013',
       '15 December 2005', '9 December 2015', '20 March 2010',
       '4 March 2012', '24 May 2016', '4 November 2008',
       '8 December 2009', '19 September 2016', '10 April 2015',
       '12 July 2016', '1 February 2010', '17 December 2014',
       '25 June 2015', '7 May 2016', '25 April 2016', '11 February 2015',
       '8 November 2010', '16 November 2011', '7 August 2014',
       '22 March 2016', '30 May 2011', '16 September 2014',
       '28 September 2015', '14 December 2015', '23 April 2012',
       '17 December 2011', '3 February 2016', '31 July 2011',
       '29 May 2011', '25 July 2011', '13 August 2010', '21 January 2013',
       '10 December 2013', '1 December 2009', '10 March 2015',
       '18 February 2015', '11 April 2015', '1 January 2015',
       '19 September 2011', '24 September 2016', '11 July 2009',
       '6 June 2014', '13 March 2007', '19 March 2011', '4 May 2016',
       '2 December 2014', '4 February 2010', '18 March 2008',
       '10 March 2010', '27 February 2009', '31 August 2013',
       '21 March 2013', '16 November 2010', '4 December 2016',
       '12 February 2009', '30 March 2015', '7 March 2015',
       '22 April 2010', '7 November 2008', '12 January 2016',
       '18 January 2008', '19 July 2013', '12 January 2011',
       '6 April 2009', '6 December 2011', '13 February 2015',
       '2 July 2010', '6 May 2011', '2 May 2013', '4 June 2014',
       '3 September 2014', '20 September 2011', '13 March 2010',
       '23 September 2009', '25 April 2010', '23 September 2010',
       '6 June 2015', '25 October 2005', '12 January 2015', '5 June 2009',
       '9 April 2010', '10 September 2014', '28 August 2013',
       '10 February 2011', '3 March 2010', '19 May 2011',
       '10 December 2015', '27 April 2011', '20 January 2009',
       '10 November 2009', '11 September 2016', '23 July 2012',
       '9 June 2010', '8 September 2009', '21 March 2010', '27 May 2016',
       '19 April 2013', '6 September 2012', '30 September 2016',
       '21 November 2015', '14 January 2010', '6 December 2015',
       '01 May 2010'], dtype=object)

In [ ]:
date_list = df.date.to_list()
print(type(date_list))
print(type(date_list[0]))

In [5]:
df["date"] =pd.to_datetime(df["date"])

ParserError: year 20105 is out of range: 9 January 20105

In [ ]:
# Import the datetime module
from datetime import datetime
    
# Function to print the data stored in the list 
def printDates(dates): 
   
    for i in range(len(dates)):  
        print(dates[i]) 
       
       
if __name__ == "__main__":  
  
    dates =  ["23 Jun 2018", "2 Dec 2017", "11 Jun 2018", 
              "01 Jan 2019", "10 Jul 2016", "01 Jan 2007"]  
      
    # Sort the list in ascending order of dates 
    dates.sort(key = lambda date: datetime.strptime(date, '%d %b %Y'))
    
    # Print the dates in a sorted order 
    printDates(dates)

In [ ]:
import plotly.graph_objects as go
import plotly.express as px

fig = go.Figure()

fig.add_traces(go.Scatter(x=df["date"], y=df["stanza"], name = 'stanza', 
                         line=dict(color='#636EFA', width=2)))
fig.add_traces(go.Scatter(x=df["date"], y=df["textblob"], name = 'textblob', 
                         line=dict(color= '#EF553B', width=2)))
fig.add_traces(go.Scatter(x=df["date"], y=df["vader"], name = 'vader', 
                         line=dict(color='#00CC96', width=2)))

fig.update_layout(title='Sentiment scores over time per method',
                   xaxis_title='Date',
                   yaxis_title='Sentiment')


fig.show()